.view-chain-route {
  .empty-pool {
    text-align center
    color #1a1a1a
    font-size 18px
  }

  .trans-pool {
    margin auto
    margin-top 50px

    .btn-validate-all{
      font-size 15px
      font-weight 550
      width 200px
      position relative
    }
    .transaction {
      width 500px
      padding 50px
      margin auto
      margin-bottom 20px
      background-color white
      border 1px solid #1a1a1a
      border-radius 3px

      .verify-btn {
        position relative
        i{
          font-size 14px
        }
      }

      &.valid {
        border-color success
      }

      &.invalid {
        border-color danger
      }

      .info-block {
        display flex
        justify-content space-between
        font-size 16px
        margin-bottom 8px

        .label {
          color tikiblue
          font-weight 550
        }

        .value {
          color #1a1a1a
          font-weight 550
          max-width 300px
          word-wrap break-word
        }
      }
    }
  }
}