.view-chain-route{
  .empty-pool{
    text-align center
    color #1a1a1a
    font-size 18px
  }
  .trans-pool{
    margin auto
    margin-top 50px

    .transaction{
      width 500px
      padding 50px
      margin auto
      margin-bottom 20px
      border 1px solid #1a1a1a
      border-radius 3px
      .info-block{
        display flex
        justify-content space-between
        font-size 16px
        margin-bottom 8px
        .label{
          color tikiblue
          font-weight 550
        }
        .value{
          color #1a1a1a
          max-width 300px
          word-wrap break-word
        }
      }
    }
  }
}