.view-chain-route {
  &.valid{
    .block{
      border-color success
    }
  }
  .title-link{
    color tikiblue
    cursor pointer
    text-decoration underline
  }
  .chain-validation{
    margin 15px 0
    font-weight 550
  }
  .btn-validate-all{
    font-size 15px
    font-weight 550
    width 200px
    position relative
  }
  .main-info{
    margin-bottom 30px
    z-index -1
    font-size 18px
    .label{
      color tikiblue
      font-weight 550
    }
    .value{
      color #1a1a1a
      max-width 300px
      word-wrap break-word
    }
  }
  .empty-chain{
    text-align center
    color #1a1a1a
    font-size 18px
  }
  .main-section{
    margin auto
    margin-top 50px
    width 600px
  }
  .special-block{
    color danger
  }
  .block{
    background-color white
    position relative
    z-index 0
    &.relation-not-match{
      &:after{
        content: ''
        position absolute
        left 50%
        transform translateX(-50%)
        top 100%
        width 30px
        height 30px
        background-color danger
        z-index -2

      }
    }
    &.invalid{
      border-color danger
    }
    transition all 0.1s ease
    .trans-title{
      color #1a1a1a
      font-weight 550
      margin 10px 0
    }
    .trans{
      padding-left 15px
    }
    padding 50px
    margin auto
    margin-bottom 20px
    border 1px solid #1a1a1a
    border-radius 3px
    .info-block{
      display flex
      justify-content space-between
      font-size 16px
      margin-bottom 8px
      .label{
        color tikiblue
        font-weight 550
      }
      .value{
        color #1a1a1a
        font-weight 550
        cursor pointer
        max-width 300px
        transition color 0.1s ease
        word-wrap break-word

        &.active{
          color success
        }
      }
    }
  }
}